// utils
// ==============================================================

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

// components
// ==============================================================

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.table-row {
  border-bottom: 1px solid darkgray;
  transition: all 0.04s;
  &:hover {
    background-color: rgb(238, 238, 238);
  }
}

.table-cell {
  padding: 7px;
}
